<h1>Listing Term and Lessons</h1>
<p>
  <b>This is <%=h @term.name %></b>
</p>
<p>
<div class="term_name">
    <b>Name:</b>
    <%=h @term.name %>
 </div>
  </p>
  <p>
  <div class="term_header">
    <b>Header:</b>
    <%=h @term.header %>
    </div>
  </p>
  <p>
  <div class="term_pretty_name">
    <b>Pretty Name;</b>
    <%=h @term.pretty_name %>
    </div>
    </p>
  <p>
  <div class="term_description">
    <b>Description:</b>
    <%=h @term.description %>
    </div>
  </p>
  <p>
  <div class="term_intro_text">
    <b>Intro Text:</b>
    <%=h @term.intro_text %>
    </div>
  </p>
  <p>
  <div class="term_intro_audio">
    <b>Intro Audio:</b>
    <%=h @term.intro_audio_path %>
    </div>
  </p>
  <p>
  <div class="term_intro_video">
    <b>Intro Video:</b>
    <%=h @term.intro_video_path %>
    </div>
  </p>
  <p>
  <div class="term_video">
    <b>Content Video:</b>
    <%=h @term.content_video_path %>
    </div>
  </p>
  <p>
  <div class="term_audio">
    <b>Content Audio:</b>
    <%=h @term.content_audio_path %>
    </div>
  </p>
  <p>
  <div class="term_footer">
    <b>Footer:</b>
    <%=h @term.footer %>
    </div>
  </p>
  <p>
  <div class="term_content_text">
    <b>Content:</b>
    <%=h @term.content_text %>
    </div>
</p>

<h1>Lessons</h1>
<% @term.lessons.each do |t| %>
  
<h2>Showing Lesson <%= t.position %> term <%= t.term_id %> </h2>
<p>
  <div class="lesson_name">
    <b>Name:</b>
    <%=h t.name %>
    </div>
  </p>

  <p>
  <div class="lesson_header">
    <b>Header:</b>
    <%=h t.header %>
    </div>
  </p>
  <p>
  <div class="lesson_pretty_name">
    <b>Pretty Name:</b>
    <%=h t.pretty_name %>
    </div>
    </p>
    <p>
  <div class="lesson_description">
    <b>Description:</b>
    <%=h t.description %>
    </div>
  </p>
  <p>
  <div class="lesson_intro_text">
    <b>Intro Text:</b>
    <%=h t.intro_text %>
  </p>
  </div>
  <p>
  <div class="lesson_intro_audio">
    <b>Intro Audio:</b>
    <%=h t.intro_audio_path %>
    </div>
  </p>
  <p>
  <div class="lesson_intro_video">
    <b>Intro Video:</b>
    <%=h t.intro_video_path %>
    </div>
  </p>
  <p>
  <div class="lesson_video">
    <b>Content Video:</b>
    <%=h t.content_video_path %>
    </div>
  </p>
  <p>
  <div class="lesson_audio">
    <b>Content Audio:</b>
    <%=h t.content_audio_path %>
    </div>
  </p>
  <p>
  <div class="lesson_footer">
    <b>Footer:</b>
    <%=h t.footer %>
    </div>
  </p>
  
  <p>
  <div class="lesson_content_text">
    <b>Content:</b>
    <%=h t.content_text %>
    </div>
</p>


<%= link_to 'Show', lesson_path(@term) %>


<% end %>


<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', term_path(@term) %> |
