<h2>Navigation</h2>
<ul>
	<li><%= link_to "Course Rock Basics", :controller => 'courses', :action => 'show', :id => '1'   %></li>
	  <ul>
	  <li><%= link_to "Term One", :controller => 'terms', :action => 'show', :id => '1'   %></li>
		  <ul>
		      	  <li><%= link_to "Lesson One", :controller => 'lessons', :action => 'show', :id => '1'   %></li>
			  <li><%= link_to "Lesson Two", :controller => 'lessons', :action => 'show', :id => '2'   %></li>
			  <li><%= link_to "Lesson Three", :controller => 'lessons', :action => 'show', :id => '3'   %></li>
			  <li><%= link_to "Lesson Four", :controller => 'lessons', :action => 'show', :id => '4'   %></li>
			  <li><%= link_to "Lesson Five", :controller => 'lessons', :action => 'show', :id => '5'   %></li>
			  <li><%= link_to "Lesson Six", :controller => 'lessons', :action => 'show', :id => '6'   %></li>
			  <li><%= link_to "Lesson Seven", :controller => 'lessons', :action => 'show', :id => '7'   %></li>
			  <li><%= link_to "Lesson Eight", :controller => 'lessons', :action => 'show', :id => '8'   %></li>
			  <li><%= link_to "Lesson Nine", :controller => 'lessons', :action => 'show', :id => '9'   %></li>
			  <li><%= link_to "Lesson Ten", :controller => 'lessons', :action => 'show', :id => '10'   %></li>
		  </ul>
	  <li>Term two</li>
	  <li>Term three</li>
	  <li>Term four</li>
	  </ul>
	<li>Course rock advanced</li>
	<li>Course rock master</li>
	<li>Course jazz basics</li>
	<li>Course jazz advanced</li>
</ul>